* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", sans-serif;
    background: #ff9a9e;
    background: linear-gradient(to right, #A6F1E0, #FFFDEC);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
 
.container {
    background-color: #FFB8E0;
    padding: 3rem 4rem;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    margin-bottom: 1rem;
  }
  
  #timerDisplay {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .btns button,
  #themeToggle {
    padding: 0.7rem 1.5rem;
    margin: 0.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #5b99c2;
    color: white;
    transition: background 0.3s;
  }
  
  .btns button:hover,
  #themeToggle:hover {
    background: #407a99;
  }
  
  body.dark-mode {
    background: #1e1e1e;
    color: #fff;
  }
  
  body.dark-mode .container {
    background: #2c2c2c;
    color: #fff;
  }
  
  body.dark-mode button {
    background: #777;
  }
  
